<html>


<body>

    <h2>is there something to repost..?</h2>

    <form action="/admin_complete" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" >
        <input type="submit" value="upload">
</form>

    <h2>or just set complete</h2>

    <form action="/admin_complete" method="post">
    
        
    </form>

</body>
</html>